
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #beb7a4;
}
p::first-letter {
  font-size: 110%;
  font-weight: 600;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  text-align: center;
}
ul {
  list-style-type: disc;
  padding: 10px 0 10px 20px;
}
li {
  list-style-position: inside;
  text-indent: -4em; /* I had to experiment w/ this value to align second line of li */
  line-height: 20px;
}
#title {
  display: block;
  background-color: #ec7d10;
  border-style: solid;
  border-width: 3px;
  padding: 10px 10px;
  margin-bottom: 10px;
}
#tribute-info {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
}
/* The img should be centered in parent, and resize relative to width of parent, w/o exceeding original size */
#img {
  display: flex;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#img-caption {
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  font-weight: 700;
}
span {
  display: block;
  background-color: #ec7d10;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 24px;
  border-style: solid;
  border-width: 3px;
}

a:visited {
  color: blue;
}

a:link { 
  text-decoration: none;
  font-weight: 700;
  color: blue;
}
a:hover {
  font-size: 150%;
  color: red;
}